<!DOCTYPE html>
<html>
<head>
  <title>Jon's Onboarding Project</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_pack_tag 'app-bundle' %>
  <%= javascript_pack_tag 'app-bundle' %>
</head>

<body>
<%= react_component('Toaster', trace: false) %>
<%= react_component('UseToast', trace: false) %>

<%= yield %>
</body>
</html>
